.container-fluid{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    border: 1px solid blue;
    width: 80%;
    height: 90px;
}

.col{
    border: 1px solid green;
    height: 50px;
}

.menu-cont{
    width: 100%;
    background-color: black;
    color: white;
    .col{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }
}

.main-cont{
    width: 95%;
    height: 600px;
    .col{
        height: auto;
    }
}